<div *ngIf="user">
  <span>{{ user }}</span>
  <router-outlet></router-outlet>
</div>

<div *ngIf="!user">
  <ng-template #content2 let-modal>
    <div class="modal-body">
      <form>
        <label>Login/Register:</label>
        <div class="mb-3">
          <div class="input-group">
            <input
              (keyup)="updateField('user', $event)"
              class="form-control"
              placeholder="Username"
              name="dp"
            /><input
              type="password"
              (keyup)="updateField('pass', $event)"
              class="form-control"
              placeholder="Password"
              name="dp"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="register()">
        Register!
      </button>
      <button type="button" class="btn btn-outline-success" (click)="login()">
        Login!
      </button>
    </div>
  </ng-template>
</div>
