front-end/node_modules*
front-end/.vscode*
front-end/.angular*
front-end/dist*

back-end/node_modules*
back-end/config.js
back-end/customquery.js

scripts/node_modules*
scripts/output/*
scripts/config.js
scripts/test.js

discordbot/node_modules*
discordbot/.env