@import 'bootstrap/scss/bootstrap';
@import './themes/light-theme.scss';
@import './themes/dark-theme.scss';

body {
    background-color: $background;
    margin: 0px;
    color: $text;
}

.modal-body, .modal-header, .modal-footer{
    background-color: $modal-background;
}

.modal-highlight{
    background-color: $highlight-s;
}

.btn-close, .form-control{
    background-color: $highlight-m;
}

.input-field, .btn-default, a{
    color: $text
}