<div class="menu-items">
  <table style="width: 100%">
    <!-- <ng-component *ngFor="let player of players"> -->
    <tr>
      <th>name</th>
      <th>blocks mined</th>
      <th>mobs killed</th>
      <th>playtime</th>
      <th>items broken</th>
      <th>items dropped</th>
      <th>items picked_up</th>
      <th>items used</th>
      <th>items crafted</th>
    </tr>
    <tr *ngFor="let player of players">
      <td>{{ player.name }}</td>
      <td>{{ player.blocks_mined }}</td>
      <td>{{ player.mobs_killed }}</td>
      <td *ngIf="player.time_played !== ''">{{ player.time_played }} H</td>
      <td>{{ player.items_broken }}</td>
      <td>{{ player.items_dropped }}</td>
      <td>{{ player.items_picked_up }}</td>
      <td>{{ player.items_used }}</td>
      <td>{{ player.items_crafted }}</td>
    </tr>
    <!-- </ng-component> -->
  </table>
<!-- <h2>CHAT LOG:</h2>
  <p style="white-space: pre-line">{{ chatlog }}</p> -->
</div>
