#deletions {
    color: red;
}

#additions {
    color: lime;
}

#changedFiles {
    color: yellow;
}

.menu-items:hover > .menu-item{
    opacity: 0.3;
}

.menu-items:hover > .menu-item:hover{
    opacity: 1;
}

.menu-item{
    color: white;
    display: block;
    text-decoration: none;
    
    transition: opacity 400ms ease;
}