<div *ngIf="!user">
  <iframe name="dummyframe" id="dummyframe" style="display: none"></iframe>

  <form action="{{ apiUrl }}api/v1/signin" method="post" target="dummyframe">
    Username: <input name="user" /> Password: <input name="pass" type="password" />
    <input (click)="login()" type="submit" value="Login" />
  </form>
  <form action="{{ apiUrl }}api/v1/signup" method="post" target="dummyframe">
    Username: <input name="user" /> Password: <input name="pass" type="password" />
    <input (click)="login()" type="submit" value="Register" />
  </form>
</div>
<div *ngIf="user">
  <span>{{ user }}</span>
</div>
<router-outlet></router-outlet>
